*{
	-fx-padding: 2px ,1px ,2px ,2px;
    -fx-background-insets: 0,1,2;
}

#label{
	-fx-padding: 5px;
	-fx-font-size: 17px;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-margin: 15px;
}

#addLabel {
	-fx-padding: 5px;
	-fx-font-size: 17px;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
	
}

.label {
	-fx-font-weight: bold;
	-fx-font-size: 20px;
    -fx-border-insets: 15px;
    -fx-background-insets: 10px;
}

#btn {        
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-height: 50px;
    -fx-cursor: hand;
}

#hrSep {
    -fx-pref-height: 25px;
}

#btnSep {
    -fx-pref-height: 130px;
}

#tabPane {
	-fx-padding: 15px, 15px, 30px, 30px;	
	-fx-font-size: 15;
	-fx-font-weight: bold;
}

#myIcons {
    -fx-alignment: center;
}

.check-box {
	-fx-font-size: 17px;
}

.check-box > .box {
    -fx-padding: 5px;
}

.check-box > .box > .mark {
    -fx-padding: 5px;
}